/* General links */
a, a:visited {
	color: #905A37;
}

a:hover, a:active {
	color: #FCE0BB;
}

/* Top nav */
.wy-nav-top {
	background: #373A2D;
}

.wy-nav-top a, .wy-nav-top a:hover, .wy-nav-top a:visited {
	color: #FCE0BB;
}


/* Side nav */
.wy-nav-side, .wy-nav-top {
	background: #373A2D;
}

/* Side nav text */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #905A37;
}

/* Side nav links */
.wy-menu-vertical a, .wy-menu-vertical a:hover, .wy-menu-vertical a:visited {
	color: #FCE0BB;
}

.wy-menu-vertical a:hover {
    background-color: #905A37;
}

/* Search bar */
.wy-side-nav-search input[type="text"] {
	border-color: #614A33;
}


/* Class headers */
/*
.rst-content dl:not(.docutils) dt {
	color: #373A2D;
	background: #FF0000;
	border-top: solid 3px #614A33;
}


.rst-content tt, .rst-content tt, .rst-content code {
	color: #373A2D;
}
*/
/* Message boxes */
/*
wy-alert.wy-alert-success .wy-alert-title, .rst-content .wy-alert-success.note .wy-alert-title, .rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .wy-alert-title, .rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .wy-alert-title, .rst-content .hint .wy-alert-title, .rst-content .important .wy-alert-title, .rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.warning .wy-alert-title, .rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title, .rst-content .wy-alert-success.admonition .wy-alert-title, .wy-alert.wy-alert-success .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-success .admonition-title, .rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.attention .admonition-title, .rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.danger .admonition-title, .rst-content .wy-alert-success.error .admonition-title, .rst-content .hint .admonition-title, .rst-content .important .admonition-title, .rst-content .tip .admonition-title, .rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.seealso .admonition-title, .rst-content .wy-alert-success.admonition-todo .admonition-title, .rst-content .wy-alert-success.admonition .admonition-title {
    background: #FF00FF;
}

.wy-alert.wy-alert-success, .rst-content .wy-alert-success.note, .rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution, .rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error, .rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.warning, .rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.admonition-todo, .rst-content .wy-alert-success.admonition {
    background: #FF00FF;
}
*/